<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="vendor/autoload.php"
    cacheResult="false"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnDeprecation="false"
>
    <testsuites>
        <testsuite name="PrettyPrint Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <coverage>
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
            <html outputDirectory="build/coverage" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="test"/>
    </php>
</phpunit>
